.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #4CAF50;
    color: white;
}