<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate | Add new question</title>
</head>
<body>
    <h1>Add new question</h1>
    <form action="{{ url_for('add_question') }}" method="post">
        <p>Question Title:<br>
        <input type="text" name="title" size="49" required>
        </p>
        <p>Question text:<br>
        <textarea name="message" rows="6" cols="50" required></textarea>
        </p>
        <p><input type="submit" value='Add question'>
        </p>
    </form>
</body>
</html>