<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate | Welcome!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

<h1>Ask Mate</h1>
<p>
<form action="{{ url_for('add_question') }}">
    <button onclick="location.href= '{{ url_for('add_question') }}'" type="button"
            style="float: left">
        Add a new question
    </button>
</form>
<br>
<br>
</p>

<table class="table1">
    <tr>
        <th>ID</th>
        <th>Questions</th>
        <th>Open</th>
        <th>Delete</th>
    </tr>
    {% for row in  sorted_messages %}
        <tr>
            <td>{{ row['id'] }}</td>
            <td>{{ row['title'] }}</td>
            <td><a href="{{ url_for('get_question_details', question_id=row['id']) }}">Open</a></td>
            <td><a href="{{ url_for('delete_question', question_id=row['id']) }}">Delete</a></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>

