<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate</title>
</head>
<body>
    <h1>Ask Mate</h1>
    <h4><a href="/add-question">Add a new question</a></h4>
        <table>
        <tr>
            <th>ID</th>
            <th>Questions</th>
            <th>Delete</th>
        </tr>
        {% for row in  sorted_messages %}
        <tr>
            <td>{{ row['id'] }}</td>
            <td><a href="/question/{{ row['id'] }}">{{ row['title'] }}</a></td>
            <td><a href="{{ url_for('delete_question', question_id=row['id']) }}">delete</a></td>
        </tr>
        {% endfor %}
        </table>
</body>
</html>