<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
</head>
<body>
    <h1>Ask Mate</h1>
    <a href="{{ url_for('route_add_question') }}">
        <button type="button">Ask new question</button>
    </a>

    <table>
        <theader>
            <tr>
                {% for elem in header %}
                    <td><h3>{{ elem }}</h3></td>
                {% endfor %}
            </tr>
        </theader>
        <tbody>
            {% for row in questions %}
                <tr>
                    <td><a href="{{ url_for('route_question', question_id=row['id']) }}">{{ row['id'] }}</a></td>
                    <td>{{ row['submission_time'] }}</td>
                    <td>{{ row['view_number'] }}</td>
                    <td>{{ row['vote_number'] }}</td>
                    <td><a href="{{ url_for('route_question', question_id=row['id']) }}">{{ row['title'] }}</a></td>
                    <td>{{ row['message'] }}</td>
                    <td>{{ row['image'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>