<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
</head>
<body>
<h1>{{ header }}</h1>
    <form action="{{ question_url }}" method="post">
        <p>Question Title:<br>
        <input type="text" name="title" size="49" value="{{ question_title }}" required></p>
        <p>Question text:<br>
        <textarea name="message" rows="6" cols="50" required>{{ question_message }}</textarea></p>
        <p><input type="submit" value='{{ button_text }}'></p>
    </form>
</body>
</html>