<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
    <h1>{{ question[0]['title'] }}</h1>
    <a href="{{ url_for('route_edit_question', question_id=question[0]['id']) }}"><button>Edit questino</button></a>
    <table>
        <theader>
            <tr>
                {% for elem in question_header %}
                    <td><h3>{{ elem }}</h3></td>
                {% endfor %}
            </tr>
        </theader>
        <tbody>
                {% for row in question %}
                <tr>
                    <td>{{ row['id'] }}</td>
                    <td>{{ row['submission_time'] }}</td>
                    <td>{{ row['view_number'] }}</td>
                    <td>{{ row['vote_number'] }}</td>
                    <td>{{ row['title'] }}</td>
                    <td>{{ row['message'] }}</td>
                    <td>{{ row['image'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <theader>
            <tr>
                {% for elem in answer_header %}
                    <td><h3>{{ elem }}</h3></td>
                {% endfor %}
            </tr>
        </theader>
        <tbody>
        {% for row in answers %}
            <tr>
                <td>{{ row['id'] }}</td>
                <td>{{ row['submission_time'] }}</td>
                <td>{{ row['vote_number'] }}</td>
                <td>{{ row['question_id'] }}</td>
                <td>{{ row['message'] }}</td>
                <td>{{ row['image'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</body>
</html>